<div class="flex items-end justify-center h-20">
  <h1 class="text-4xl font-semibold text-center uppercase">Choose your region</h1>
</div>

@if (regions) {
  <div class="flex flex-col flex-1 min-h-0 items-center justify-center">
    <div class="px-5">
      <app-list 
        class="relative p-3 flex flex-wrap gap-2 items-center justify-center before:absolute before:h-full before:w-full before:bg-white before:top-0 before:left-0 before:rounded-md before:opacity-60"
        [dataSource]="regions.results" 
        [template]="regionTemplate"
      >
        <ng-template #regionTemplate let-item="item">
          <a [routerLink]="'/' + item.name">
            <app-region-card [dataSource]="item"></app-region-card>
          </a>
        </ng-template>
      </app-list>
    </div>
  </div>
}

<!-- <img 
  class="absolute h-screen w-screen -z-10" 
  ngSrc="home-background-2.jpg" 
  alt="The background for homepage" 
  fill 
  priority
/> -->