<app-portal [isVisible]="isLoading">
  <p class="h-screen w-screen top-0 left-0 bg-slate-400">Loading</p>
</app-portal>

@if(headerBannerConfig.visible) {
  <app-header-banner 
    [animation]="headerBannerConfig.animation" 
    [content]="headerBannerConfig.content"
  />
}

<app-header class="header px-6">
  <div class="h-full flex justify-between">
    <div class="h-full flex gap-2 items-center text-lg font-medium text-white">
      <app-link to="/regions">Regions</app-link>
      <app-link to="/pokedexes">Pokédexes</app-link>
      <app-link to="/pokemons">Pokémons</app-link>
    </div>

    <!-- <div class="h-full flex items-center">
      <app-search-input />
    </div> -->
  </div>
</app-header>

<div class="flex-1 min-h-0">
  <router-outlet />
</div>

<div class="fixed bottom-1 right-2 font-mono font-semibold opacity-40">
  v{{ version }}
</div>