@if (template && !virtualScrollOptions.enabled) { 
  @for (item of dataSource; track item) {
    <ng-container
      [ngClass]="itemClass"
      [ngTemplateOutlet]="template"
      [ngTemplateOutletContext]="{ item: item }"
    />
  } 
}

@else if (template && virtualScrollOptions.enabled) {
  <cdk-virtual-scroll-viewport 
    class="h-full"
    [itemSize]="virtualScrollOptions.itemHeight" 
  >
    <ng-container
      *cdkVirtualFor="let item of dataSource"
      [ngClass]="itemClass"
      [ngTemplateOutlet]="template"
      [ngTemplateOutletContext]="{ item: item }"
    />
  </cdk-virtual-scroll-viewport>
}

@else if(!template) {
  @for (item of dataSource; track $index) {
    <div>{{ item }}</div>
  } 
}
