@if (dataSource && breadcrumbs) {
  <app-breadcrumbs [dataSource]="breadcrumbs" />

  <span>Pokedex: {{ dataSource.name }}</span>

  <app-list 
    class="h-full flex flex-wrap gap-2"
    [dataSource]="$any(dataSource.pokemonEntries)" 
    [template]="pokemonCard" 
    ngSkyHydration
  >
    <ng-template #pokemonCard let-pokemon="item">
      <app-link [to]="[breadcrumbs.last()!.path, pokemon.name]">
        <app-pokemon-card 
          class="h-[294px] w-[254px]"
          [dataSource]="pokemon" 
          [maxIdDigits]="countDigits"
          [showEntryNo]="true"
        />
      </app-link>
    </ng-template>
  </app-list>
}