<div class="flex items-end justify-center h-12 pb-2">
  <h1 class="text-3xl font-semibold text-center uppercase">Choose your region</h1>
</div>

@if (dataSource) {
  <app-list 
    class="relative flex-1 h-full w-full overflow-auto pb-3 flex flex-wrap gap-2 items-center justify-center before:absolute before:h-full before:w-full before:bg-white before:top-0 before:left-0 before:rounded-md before:opacity-60"
    [dataSource]="dataSource.results" 
    [template]="regionTemplate"
    ngSkipHydration
  >
    <ng-template #regionTemplate let-item="item">
      <app-link [to]="['/', '-', item.name]">
        <app-region-card [dataSource]="item" />
      </app-link>
    </ng-template>
  </app-list>
}

<!-- <img 
  class="absolute h-screen w-screen -z-10" 
  ngSrc="home-background-2.jpg" 
  alt="The background for homepage" 
  fill 
  priority
/> -->