@if (dataSource) {
  <app-card>
    <img [src]="dataSource.sprites.officialArtwork" height="200" width="200"/>

    <div class="flex flex-col gap-1 items-center p-3">
      <div>
        <span class="text-xl">{{ dataSource.id | pokeId:4 }}</span> -
        <span class="text-2xl">{{ dataSource.name | titlecase }}</span>
      </div>
      
      <div class="grid grid-cols-2 gap-1">
        @for (entry of dataSource.types; track $index) {
          <app-type-badge [type]="entry.type.name" [isIconVisible]="true" />
        }
      </div>
    </div>
  </app-card>
}